/* Сброс */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: white;

}

#root {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/* Контейнер маршрутов */
.routes__container {
  padding: 10px;
  transition: margin-left 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: auto;
}

/* Дополнительные стили для .routes__container */
.routes__container {
  margin: 0 0 0 0;
  border-radius: 0px;
  margin-bottom: 100px;
}