/* Сброс базовых стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

/* Контейнер приложения */
#root {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Контейнер маршрутов */
.routes__container {
  padding: 10px;
  transition: margin-left 0.3s ease-in-out;
  min-height: calc(100vh - 60px);
  /* Учитываем высоту футера */
}

/* Адаптивность */
@media (max-width: 768px) {
  .routes__container {
    padding: 5px;
    margin-top: 90px;
    /* Учитываем высоту мобильного футера */
  }
}